In [1]:
import pymssql

server = "HAOXUAN\SQLEXPRESS" 
user = "sa"
password = "1234567"
database = "TestPython" 
conn = pymssql.connect(server, user, password,database)

cursor = conn.cursor()

In [12]:
cursor.execute('SELECT * FROM Products')

In [13]:
row = cursor.fetchone()
while row:
    print("ProductID=%d, ProductPrice=%s" % (row[0], row[2]))
    row = cursor.fetchone()

ProductID=1, ProductPrice=12.4800
ProductID=50, ProductPrice=3.1700
ProductID=75, ProductPrice=None

In [14]:
sql = """update Products set Price=Price -  5 where ProductID='1';  
update Products set Price=Price +  5 where ProductID='50';  """

try:
   # executer le commande
   cursor.execute(sql)
   
   conn.commit()
except:
   # Rollback in case there is any error
   conn.rollback()

In [19]:
cursor.execute('SELECT * FROM Products')
row = cursor.fetchone()
while row:
    print("ProductID=%d, ProductName=%s ,ProductPrice=%s" % (row[0], row[1],row[2]))
    row = cursor.fetchone()

ProductID=1, ProductName=Clamp ,ProductPrice=7.4800
ProductID=50, ProductName=Screwdriver ,ProductPrice=8.1700
ProductID=75, ProductName=Tire Bar ,ProductPrice=None

In [22]:
sql = """update Products set Price=Price -  2.48 where ProductID='1';  
update Products set Price= 5 where ProductID='75';  """

try:
   # executer le commande
   cursor.execute(sql)
   
   conn.commit()
except:
   # Rollback in case there is any error
   conn.rollback()

In [23]:
cursor.execute('SELECT * FROM Products')
row = cursor.fetchone()
while row:
    print("ProductID=%d, ProductName=%s ,ProductPrice=%s" % (row[0], row[1],row[2]))
    row = cursor.fetchone()

ProductID=1, ProductName=Clamp ,ProductPrice=5.0000
ProductID=50, ProductName=Screwdriver ,ProductPrice=8.1700
ProductID=75, ProductName=Tire Bar ,ProductPrice=5.0000